# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# PyCharm
.idea/

# Test coverage reports
htmlcov/
.coverage

# Pytest cache
.pytest_cache/

# Environment files
.env